<h2 style="color:#2185d0; text-align: center">Verify your email</h2>

<p style="text-align: center;">You've received this message because you just registered with pandaspeculator's alert services.</p> 
<p style="text-align: center;">Confirm your email by clicking below:</p> <br><br>
   <p style="text-align: center;"> <a href="{{confirm_url}}" style="text-decoration:none; background-color: #2185d0; color:#fff; text-align: center; border-radius: 5%; padding: 5px 10px; font-weight:700; font-family: Lato, sans-serif; text-align:center;">Click to confirm</a></p><br><br>
   <p style="text-align: center;"><b>Note: This link expires 12 hours after being sent.</b></p>