<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/queries.css')}}">
    <title>Eventually</title>
</head>
<body>
    <main>
        <div class="hero-text-box">
        <h1>Eventually...</h1>
        <p>Good things come to those who wait.</p>
        <p>The secret to successful trading can be found in chapter 8 of "Reminiscences of a Stock Operator".</p>
        </div>
    </main>

</body>
</html>