{% extends "base.html" %}

{% block content %}
<div class="ui container middle aligned grid">
        <div class="ui centered column segment center aligned">
                <h3 class="ui header blue">
                        Reset Password Form
                </h3>      
                <form action="{{url_for('login.password_change', token=token)}}" class="form ui", method="POST">
                    <h4 class="header ui">Change your password</h4>

                    <div class="field">
                        {{form.csrf_token}}
                        {{form.password.label}}
                        {{form.password}}
                        {% if form.password.errors %}
                        <div class="ui pointing red basic label">
                        <ul>
                        {% for error in form.password.errors %}
                            <li>
                                {{error}}
                            </li>
                        {% endfor %}
                        </ul>
                        </div>
                        {% endif %}  
                    </div>
                    <div class="field">
                        {{form.confirm.label}}
                        {{form.confirm}}
                    </div>
                    <div class="field">
                        <button class="ui button blue">Change</button>
                    </div>
                </form>
        </div>
</div>
{% endblock %}